// Primary CI colors
$black: #000;
$white: #fff;
$resideo-red: #D22730;
$canvas: #EDEBDC;

// Secondary colors
// Dark blue reserved for PRO content
$dark-blue: #153755;
$charcoal: #2E2E2E;
$inactive-gray: #767676;
$gray: #DADADA;
$light-gray: #EDEDED;
$extra-light-gray: #F7F7F7;

// Accent colors
$medium-blue: #1C6FB9;

// Use Dark Green in combination when setting text on a light background, 
// to meet WCAG Level AA contrast requirements. Do not use the lighter 
// Green as a text color on a light background, or as the background color
// with white or light text.
$green: #28AA62;
$dark-green: #1F844D;